<ion-header>
  <ion-toolbar>
    <ion-title>
      <!--Tab One-->
      <ion-img class="logo"  src="../../assets/img/logo.png" alt="Catz"></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   <ion-card class="welcome-card text-center">
      <ion-card-header>
        <ion-card-title>Quel est le plus beau chat?</ion-card-title>
      </ion-card-header>
   </ion-card>
  <ion-list>
    <ion-row *ngIf="catList.length > 0">
      <ion-col>
        <ion-row class="bg-15" (click)="clickVote(catList[currentDisplayCat1].id)">
          <ion-col col-12 class="text-center">
            <ion-icon class="icon-2x" name="heart" color="danger"></ion-icon>
            <ion-img class="img-fluid rounded-img" [src]="catList[currentDisplayCat1].url" alt=""></ion-img>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col class="bg-light">
        <ion-row class="bg-15" (click)="clickVote(catList[currentDisplayCat2].id)">
          <ion-col col-12 class="text-center">
            <ion-icon class="icon-2x" name="heart" color="danger"></ion-icon>
            <img class="img-fluid rounded-img" [src]="catList[currentDisplayCat2].url" alt="">
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>
