// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.logo{
  height: 40px;
}

.text{
  &-center{
    text-align: center;
  }
  &-right{
    text-align: right;
  }
}

.icon{
  &-2x{
    font-size: 2em;
  }
}

.bg{
  &-15{
    padding-top: 15vh;
  }
}

.rounded-img{
  border-radius: 10%;
}

.p{
  &0{
    padding: 0;
  }
}

$customColors: ('gold', 'silver', 'bronze');

@each $color in $customColors {

  .ion-color-#{$color} {
    --ion-color-base: var(--ion-color-#{$color}) !important;
    --ion-color-base-rgb: var(--ion-color-#{$color}-rgb) !important;
    --ion-color-contrast: var(--ion-color-#{$color}-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-#{$color}-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-#{$color}-shade) !important;
    --ion-color-tint: var(--ion-color-#{$color}-tint) !important;
  }

}